input,a, button {
    &:focus{
        outline: none !important;
        box-shadow: none !important;
    }
    outline: none !important;
    
}
input:focus {
    border-color: #ccc !important;
    border-right: none;
}
body {
    background: #fafafa;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    font-family: "Open-Sans", sans-serif;
}
.chat {
    outline: none;
    box-sizing: border-box;
    position: relative;
    max-width: 640px;
    margin: 0 auto;
    z-index: 10;
    padding: 8px;
    a {
        text-decoration: none;
    }
    &__avatar {
        border-radius: 50%;
        position: absolute;
        height: 34px;
        z-index: 99;
        width: 34px;
        opacity: 0;
        top: 36px;
        left: 0; 
    }
    &__list {
        padding: 0;
        margin: 0 0 148px 0;
        list-style: none;
        overflow: hidden;
        &__item {
            margin: 0;
            padding: 0 15px;
            overflow: hidden;
            &-new {
                position: relative;
                overflow: hidden;
                .chat{
                    &__list__item__author {
                        opacity: 1;
                    }
                    &__avatar {
                        opacity: 1;
                    }
//                    &__bubble {
//                        animation: item-fade 0.8s ease-in-out;
//                    }
                }
            }
            &__author {
                margin: 16px 0 6px 28px;
                padding-left: 10px;
                font-size: 10px;
                display: block;
                color: #888;
                opacity: 0;
            }
        }
    }
    &__bubble {
        margin: 0 0 15px 28px;
        background: #fff;
        box-shadow: 0px 1px 1px rgba(0,0,0,0.2);
        display: inline-block;
        line-height: 26px;
        border-radius: 3px;
        text-align: left;
        position: relative;
        padding: 6px 12px;
        font-size: 15px;
        border: none;
        max-width: 90%;
        min-width: 44px;
        min-height: 12px;
        transform: translate3d(-96px, 0, 0);
        transition: transform 0.85s cubic-bezier(0.68, 0.01, 0.245, 1.13) 0.35s,color 0.3s ease-in-out 0.25s,min-width 0.35s ease-in-out,min-height 0.35s ease-in-out;
        &--response {
            background: #27ae60;
            color: #fff;
            float: right;
            clear: both;
            transform: translate3d(0, 0, 0);
            transition: transform 0.5s cubic-bezier(0.68, 0.01, 0.245, 1.13) 0s;
        }
        &--fade {
            animation: font-fade .75s ease-in-out;
        }
        &--slideIn {
            transform: translate3d(0, 0, 0);
        }
        &--typing {
            &>*{
                display:none !important;
            }
            &:before {
                content:'...';
                color:#000;
            }
            &:after{
                animation:loading 1s infinite;
                color:#fff;
                content:'.';
                position:absolute;
                left:0px;
            }
        }
    }
    &__input {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        margin:0;
        padding: 6px;
        text-align: center;
        z-index: 110;
        .chat__bubble{
            margin: 12px 6px;
            cursor: pointer;
            float: none;
        }
        &__placeholder:before {
            content: 'Type and hit RETURN...';
            display: inline-block;
            opacity: 0.5;
        }
    }
}

@keyframes font-fade{50%{color:transparent}100%{color:"inherit"}}
@keyframes loading{0%{left:12px}33.3331%{left:12px}33.3333%{left:17px}66.6661%{left:17px}66.6666%{left:21px}99.99%{left:21px}100%{left:12px}}
//@keyframes item-fade{0%{opacity:0}80%{opacity:0}100%{opacity:1}}