<!DOCTYPE html>
<html>
    
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

        <title>B1 CHAT BOT</title>
        <meta name="description" content="An interactive chat bot.">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js">  </script>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='style/style.css') }}">
		<script type="text/javascript" src="{{ url_for('static', filename='js/front.js') }}"></script>
        <script type="text/javascript">

            timestart = 0
            tries = 0

            window.onload = function(){
				
				var chatlist = $('#chat__list');
                var div = $('body');
                height = div.height();

                var d = new Date()
                timestart = d.getTime();
				
				chatlist.append("<li class=\"chat__list__item chat__list__item-new\"><a target=\"_blank\" href=\"#\" class=\"chat__list__item__author\">Chad</a> <a target=\"_blank\" href=\"#\"><img class=\"chat__avatar\" src=\"{{ url_for('static', filename='img/Untitled-2.jpg') }}\">  </a>   <div class=\"chat__bubble chat__bubble--bot chat__bubble--typing\">  </div> </li>")
				var elem = $('.chat__bubble--typing');
				window.setTimeout(function(){elem.addClass("chat__bubble--slideIn");}, 100);
				window.setTimeout(function(){elem.addClass("chat__bubble--fade");}, 500);
				
				$.post("/respond", {"user_input" : ">!load_page"}, function(jsonData){
                        var x = JSON.stringify(jsonData)
                        var json = JSON.parse(x)
                        var wait = parseInt(json["wait"])
                        x = json["response"]
                        var response_time = x.length * 10
                        console.log(x)
                        window.setTimeout(function(){

                            var elem = $('.chat__bubble--typing');
                            window.setTimeout(function(){elem.addClass("chat__bubble--slideIn");}, 100);
                            window.setTimeout(function(){elem.addClass("chat__bubble--fade");}, 500);
                            window.setTimeout(function(){
                                elem.removeClass('chat__bubble--typing')
                                elem.append('<span>' + x + '</span>');
                            }, 2000 + response_time)
                        

                        }, 2000 + wait)
						
                        div.animate({scrollTop: height}, 500);
                        height += div.height();
                    }, "json");
                    $('input[type="text"], textarea').val('');
			}


            window.setInterval(function(){
                    var chatlist = $('#chat__list');
                    var div = $('body');
                    height = div.height();
                    var d = new Date()
                    var current_time = d.getTime()
                    var diff = (current_time - timestart)
                    console.log(diff, current_time, timestart)
                    var input_value = $("#user-input").val()
                    if (diff > 15000 + Math.random() * 15000 && input_value.length == 0 && tries < 2) {

                        chatlist.append("<li class=\"chat__list__item chat__list__item-new\"><a target=\"_blank\" href=\"#\" class=\"chat__list__item__author\">Chad</a> <a target=\"_blank\" href=\"#\"><img class=\"chat__avatar\" src=\"{{ url_for('static', filename='img/Untitled-2.jpg') }}\">  </a>   <div class=\"chat__bubble chat__bubble--bot chat__bubble--typing\">  </div> </li>")
                        var elem = $('.chat__bubble--typing');
                        window.setTimeout(function(){elem.addClass("chat__bubble--slideIn");}, 100);
                        window.setTimeout(function(){elem.addClass("chat__bubble--fade");}, 500);

                        $.post("/respond", {"user_input" : ">!not_exists"}, function(jsonData){

                            tries ++

                            var x = JSON.stringify(jsonData)
                            var json = JSON.parse(x)
                            var wait = parseInt(json["wait"])
                            x = json["response"]
                            var response_time = x.length * 10
                            console.log(x)
                            window.setTimeout(function(){

                                var elem = $('.chat__bubble--typing');
                                window.setTimeout(function(){elem.addClass("chat__bubble--slideIn");}, 100);
                                window.setTimeout(function(){elem.addClass("chat__bubble--fade");}, 500);
                                window.setTimeout(function(){
                                    elem.removeClass('chat__bubble--typing')
                                    elem.append('<span>' + x + '</span>');
                                }, 2000 + response_time)


                            }, 2000 + wait)
                            

                            div.animate({scrollTop: height}, 500);
                            height += div.height();
                            timestart = d.getTime()
                        }, "json");

                    }

             }, 5000);

        
            $(document).ready(function(){
                
                var chatlist = $('#chat__list');
                var div = $('body');
                height = div.height();

                $.ajaxSetup({
                    dataType: "json"
                });
                
                $("form").submit(function(e){
                    e.preventDefault();
					
					var input_value = $("#user-input").val()
					if (input_value.length > 0){
                        $.post("/send", $(this).serialize(), function(jsonData){
                            tries = 0
                            var x = JSON.stringify(jsonData)
                            x = JSON.parse(x)["message"]
                            var ret = "<li class=\"chat__list__item\"><div class=\"chat__bubble chat__bubble--response\"><span>" + x + "</span></div></li>"
                            chatlist.append(ret);
                            div.animate({scrollTop: height}, 500);
                            height += div.height();

                            chatlist.append("<li class=\"chat__list__item chat__list__item-new\"><a target=\"_blank\" href=\"#\" class=\"chat__list__item__author\">Chad</a> <a target=\"_blank\" href=\"#\"><img class=\"chat__avatar\" src=\"{{ url_for('static', filename='img/Untitled-2.jpg') }}\">  </a>   <div class=\"chat__bubble chat__bubble--bot chat__bubble--typing\">  </div> </li>")
                            var elem = $('.chat__bubble--typing');
                            window.setTimeout(function(){elem.addClass("chat__bubble--slideIn");}, 100);
                            window.setTimeout(function(){elem.addClass("chat__bubble--fade");}, 500);
                        }, "json");

                        $.post("/respond", $(this).serialize(), function(jsonData){

                            var x = JSON.stringify(jsonData)
                            var json = JSON.parse(x)
                            var wait = parseInt(json["wait"])
                            x = json["response"]
                            console.log(x)
                            var response_time = x.length * 10
                            window.setTimeout(function(){

                                var elem = $('.chat__bubble--typing');
                                window.setTimeout(function(){elem.addClass("chat__bubble--slideIn");}, 100);
                                window.setTimeout(function(){elem.addClass("chat__bubble--fade");}, 500);
                                window.setTimeout(function(){
                                    elem.removeClass('chat__bubble--typing')
                                    if (elem.find('span').length == 0)
                                        elem.append('<span>' + x + '</span>');
                                }, 2000 + response_time)


                            }, 2000 + wait)                           


                            div.animate({scrollTop: height}, 500);
                            height += div.height();
                            timestart = new Date().getTime();
                        }, "json");
                    }
                    $('input[type="text"], textarea').val('');
                });
            });

        </script>
    </head>
    <body>
        <div class="container">
            <div class="chat" id="chat">
                <ul class="chat__list" id="chat__list">
                    
                </ul>
                <form method="POST">
                    <div class="input-group chat__input">
                        <input id="user-input" type="text" name="user_input" autocomplete="off">
                        <span class="input-group-btn">
                            <button class="btn btn-secondary" style="display:none" type="submit">Send</button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
        
        
    </body>
</html>
