<!DOCTYPE html>
<html>
    
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>B1 CHAT BOT</title>
        <meta name="description" content="An interactive chat bot.">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js">  </script>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='style/style.css') }}">
        <script type="text/javascript">
        
            $(document).ready(function(){
                
                var chatlist = $('#chat__list');
                var div = $('body');
                height = div.height();

                $.ajaxSetup({
                    dataType: "json"
                });
                
                $("form").submit(function(e){
                    e.preventDefault();
                    $.post("/send", $(this).serialize(), function(jsonData){
                        var x = JSON.stringify(jsonData)
                        x = JSON.parse(x)["message"]
                        var ret = "<li class=\"chat__list__item\"><div class=\"chat__bubble chat__bubble-response\"><span>" + x + "</span></div></li>"
                        chatlist.append(ret);
                        div.animate({scrollTop: height}, 500);
                        height += div.height();
                    }, "json");
                    $.post("/respond", $(this).serialize(), function(jsonData){
                        var x = JSON.stringify(jsonData)
                        x = JSON.parse(x)["response"]
                        console.log(x)
                        var ret = "<li class=\"chat__list__item chat__list__item-new\"><a target=\"_blank\" href=\"#\" class=\"chat__list__item__author\">Chad</a><a target=\"_blank\" href=\"#\"><img class=\"chat__avatar\" src=\"{{ url_for('static', filename='img/avatar.png') }}\"></a><div class=\"chat__bubble\"><span>" + x + "</span></div></li>"
                        chatlist.append(ret);
                        div.animate({scrollTop: height}, 500);
                        height += div.height();
                    }, "json");
                    $('input[type="text"], textarea').val('');
                });
            });

        </script>
    </head>
    <body>
        <div class="container">
            <div class="chat" id="chat">
                <ul class="chat__list" id="chat__list">
                    
                </ul>
                <form method="POST">
                    <div class="input-group chat__input">
                        <input id="user-input" type="text" class="form-control" name="user_input" autocomplete="off" placeholder="Say something...">
                        <span class="input-group-btn">
                            <button class="btn btn-secondary" type="submit">Send</button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
        
        
    </body>
</html>
